langchain_community.vectorstores
langchain.embeddings
langchain.prompts
HuggingFaceEmbeddings
langchain
weaviate-client
weaviate-client langchain tiktoken pypdf rapidocr-onnxruntime
langchain_community
sentence-transformers
pvporcupine
weaviate-client
dotenv
os
